

section {
    user-select: none;
    p, h1 { 
        color: white;
        font: 2vw Agency FB;
    }
    #Subtittle {
        text-align: center;
        margin-bottom: 2vw;
        padding: 2vw;
    }
    h1 {
        font: 2vw LK;
        font-weight: bold;
        text-shadow: 0 .1vw .1vw #3b5ba5;
        text-align: center;
        padding: 2vw 0 2vw 0;
    }
    nav {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .Card {
        border-radius: 1vw;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 1vw;
        width: 10vw;
        height: 40vh;
        background-color: white;
        transform: rotateX(45deg) translateY(-10vw);
        transition: transform .4s ease, box-shadow .4s ease;
        box-shadow: 0 1vw 1vw black;
        p {
            color: black;
        }
        &:hover {
            cursor: pointer;
            transform: rotateX(0deg) translateY(0);
            box-shadow: 0 0 0 none;
        }
    }
}