*{
    margin: 0;
}

#Header {
    .background{
        background: linear-gradient(0, #d12929, #960e0e);
        width: 100vw;
        height: 6vw;
        box-shadow: -.9vw 0 1vw inset rgba(0, 0, 0, .2);
        border-bottom-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        .img{
            width: 6vw;
            margin-left: 1vw;
        }
        .img_nome{
            width: 20vw;
            margin-left: 32vw; 
        }
        #Icon {
            height: 6vw;
            width: 5vw;
            display: flex;
            top: 0;
            right: 0;
            position: absolute;
            color: white;
            font-size: 4vw;
            li {
                margin-top: .8vw;
                list-style: none;
                cursor: pointer;
                li {
                    font: normal 2vw Agency FB;
                    text-align: center;
                    padding: 1vw;
                    color: black;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                        padding: 1.5;
                    }
                }
                &:hover i{
                    color: rgb(199, 199, 199);
                }
                &:hover ul {
                    display: block;
                    background: linear-gradient(0, #00000085, #5a303085);
                    padding: 0;
                    margin-top: .9vw;
                    margin-right: .1vw;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border: solid .1vw rgb(0, 0, 0);
                    border-top-style: none;
                    li{
                        width: 9vw;
                        height: 3vw;
                        margin: 0;
                        cursor: pointer;
                        &:hover{
                            color: rgb(255, 255, 255);
                        }
                        i{
                            color: rgb(204, 204, 204);
                        }
                    }
                    .Account{
                        border-top: solid 1px rgba(0, 0, 0, 0.3);
                        margin-top: 2vw;
                    }
                    .Options{
                        border-bottom: solid 1px rgba(0, 0, 0, 0.3);
                    }
                    .Exit{
                        border-top: solid 1px rgba(0, 0, 0, 0.3);
                        margin-top: 2vw;
                        &:hover{
                            border-bottom-left-radius: 8px;
                            border-bottom-right-radius: 8px; 
                        }
                    }
                }
            }
            ul {
                position: absolute;
                top: 5.1vw;
                right: .1vw;
                display: none;
            }
        }
        .img:hover {           
            cursor: pointer;
        }
    }
}
#section{
    background-color: rgb(169, 90, 90);
}