<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <link rel="stylesheet" type="text/css" href="CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="CSS/main.css">
    <link rel="stylesheet" type="text/css" href="CSS/{{page}}">
    <title>Poker_Hub</title>
</head>
<body>
    <div id="TopMenu">
        <h1>Essa é a Top Menu</h1>
    </div>
    
    {{#each msg}}
        {{> msg }}
    {{/each}}

    {{{body}}}
    <div id="Footer">
        <h1>Esse é o Footer</h1>
    </div>
</body>
</html>