section
    display: flex
    justify-content: center
    .pai
        height: 38vw
        width: 80%
        background-color: #fff
        display: flex
        flex-direction: row
        .menu
            background-color: #21262D
            width: 25%
            height: 100% 
            .opt
                width: 100%
                height: 4vw    
                margin-bottom: 1vw
                cursor: pointer
                display: flex
                justify-content: center
                align-items: center
                transition: .5s
                &:hover
                    border-left: solid .3vw
                    border-right: solid .3vw
                    border-color:  #F2F2F2
                    box-shadow: 0 0 1vw #000
                span
                    font-size: 2vw
                    color: #E0E0E0
            .opt_inf
                background-color: #1D2227
        .inffo
            background-color: #0a2723
            width: 75%
            height: 100%
            div
                width: 100%
                height: 100%
        .inf
            background-color: #ce178b
        .hit
            background-color: #b7f01b
            display: none
        .pri
            background-color: #29c2a1
            display: none
        .amg
            background-color: #f21c1c
            display: none

