*
    margin: 0
    padding: 0
    box-sizing: border-box
html, body
    height:100%
    background-color: rgb(24, 24, 24)

header
    .header
        width: 100%
        height: 6vw
        background-color: #3b5ba5
        display: grid
        grid-template-columns: 1fr 10fr 1.3fr
        div
            width: 100%
            height: 100%
        .icon
            display: flex
            justify-content: center
            
            img
                width: 80%
                height: 6vw
                cursor: pointer
        .info
            display: flex
            align-items: center
            .pai
                background-color: rgba(0, 0, 0, .2)
                border-radius: 1vw
                cursor: pointer
                margin: 0 0 0 67vw
                width: 13vw
                height: 80%
                display: flex
                align-items: center
                &:active
                    background-color: rgba(0, 0, 0, .1)
                .icons
                    display: flex
                    align-items: center
                    justify-content: center
                    color: #E0E0E0
                    margin: 0 0 0 .2vw
                    .iconify
                        font-size: 4.5vw
                .score
                    width: 25vw
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    margin: 0 0 0 .2vw
                    color: #E0E0E0
                    font-size: 1.2vw
                    .name
                        height: 30%
                        display: flex
                        align-items: center
                    .reputation
                        display: flex
                        align-items: center
                        height: 30%
                        
        .option
            display: flex
            justify-content: center
            text-align: center
            i
                display: flex
                align-items: center
                font-size: 4vw
                &:hover
                    cursor: pointer
        ul
            position: absolute
            right: 0
            background-color: #21262D
            color: #ededed
            width: 12vw
            height: auto    
            border-radius: 0 0 0 .6vw  
            display: none
            margin: 6vw 0 0 0
            li
                width: 100%
                height: 4vw
                display: flex
                justify-content: center
                align-items: center
                font-size: 1.8vw
                cursor: pointer
                &:hover
                    background-color: #1F6FEB
                    color: #ededed
                &:hover > i
                    color: #ededed
                i
                    color: white   
                    margin-right: .5vw   
                    color: #1F6BE0
            .Account 
                border-top: solid .2vw rgba(0, 0, 0, 0.3)
                margin-top: 2vw
            .Options 
                border-bottom: solid .2vw rgba(0, 0, 0, 0.3)
            .Exit 
                border-top: solid .2vw rgba(0, 0, 0, 0.3)
                margin-top: 2vw
                &:hover 
                    border-radius: 0 0 0 .6vw



// footer
//     div
//         position: relative
//         bottom: 0
//         width: 100%
//         height: 6vw
//         background-color: #3b5ba5
