<link rel="stylesheet" type="text/css" href="CSS/Accont.css">

<section>
    <div class="pai">
        <div class="menu">
            <div class="opt">
                <span>Informações</span>
            </div>
             <div class="opt">
                 <span>Histórico</span>
            </div>
             <div class="opt">
                 <span>Privacidade</span>
            </div>
             <div class="opt">
                 <span>Amigos</span>
            </div>
        </div>
        <div class="inffo">
            <div class="inffo inf">

            </div>
            <div class="inffo hit" style="display: none;">

            </div>
            <div class="inffo pri" style="display: none;">

            </div>
            <div class="inffo amg" style="display: none;">

            </div>
        </div>
    </div>
</section>
