<link rel="stylesheet" type="text/css" href="CSS/Accont.css">

<section>
    <div class="pai">
        <div class="menu">
            <div class="opt opt_inf">
                <span>Informações</span>
            </div>
             <div class="opt opt_hit">
                 <span>Histórico</span>
            </div>
             <div class="opt opt_pri">
                 <span>Privacidade</span>
            </div>
             <div class="opt opt_amg">
                 <span>Amigos</span>
            </div>
        </div>
        <div class="inffo">
            <div class="inf">

            </div>
            <div class="hit">

            </div>
            <div class="pri">

            </div>
            <div class="amg">

            </div>
        </div>
    </div>
</section>
