<section>
    <div>

        <div>
            <a class="Login" href="/Login">Login</a>
            <a class="Cadastrar" href="/Cadastro">Cadastrar</a>
        </div>

        <form action="" method="post">
            <input type="text" name="Name" id="" placeholder="Nome" autocomplete="name">
            <input type="email" name="Email" placeholder="E-Mail" autocomplete="email">
            <input type="password" name="Pass" placeholder="Senha" autocomplete="off" placeholder="new-password">
            <input type="password" name="Pass2" class="Pass" placeholder="Repetir Senha" autocomplete="off">
            <button>Cadastrar</button>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/Cadastro.css">