<section>
    <div>
        <div class="opt">
            <a href="">Informações</a>
            <a href="">Histórico</a>
            <a href="">Privacidade</a>
            <a href="">Amigos</a>
            <a href="">5</a>
            <a href="">6</a>
            <a href="">7</a>
            <a href="">8</a>
            <a href="">9</a>
        </div>
    </div>
</section>
<link rel="stylesheet" href="/css/Conta.css">