<link rel="stylesheet" type="text/css" href="CSS/Home.css">

<div id="Container">
    <div id="FlatTopBar">
        <div id="Logo">

        </div>

        <div id="SearchBar">
        
        </div>
        <div id="Login-Cadastro">
            <ul>
                <li><a href="/Login">Login</a></li>
                <li><a href="/Cadastro">Cadastro</a></li>
            </ul>
        </div>
    </div>
</div>
