<section>
    <h1> Bem Vindo Ao Poker .... !!! </h1>
    <p id="Subtittle">Aqui você pode:</p>
    <nav>
        <div class="Card"><p>Criar Sua Conta</p></div>
        <div class="Card"><p>Jogar Poker Com Outras Pessoas</p></div>
        <div class="Card"><p>Ganhar Fichas E Entrar No Ranking</p></div>
    </nav>
    
    
    
    
    
    
    
</section>
<link rel="stylesheet" href="/css/Home.css">
