<link rel="stylesheet" type="text/css" href="CSS/Home.css">

<section>
    <h1>JOGO DE POKER</h1>
    <div class="options">
        <div class="practice">   
            <span class="iconify" data-icon="fa-solid:robot" data-inline="false"></span>
            <div class="bcpractice">
                <h2>Praticar</h2>
            </div>
        </div>
        <div class="game">
            <span class="iconify" data-icon="carbon:game-wireless" data-inline="false"></span>
            <div class="bcgame">
                <h2>Jogar</h2>
            </div>
        </div>
        <div class="ranking">
            <span class="iconify" data-icon="bi:trophy-fill" data-inline="false"></span>
            <div class="bcranking">
                <h2>Ranking</h2>
            </div>
        </div>
    </div>
    <span>Jogue online e se divirta desafiando seus amigos!</span>
</section>
