<link rel="stylesheet" type="text/css" href="CSS/Register.css">
<section>
    <div class="pai">
        <div class="itens">
            <a href="/login" style="border-bottom: solid .25vw #2D9CDB;">Logar</a>
            <a href="/register">Cadastrar</a>
        </div>   
        <form method="POST" action="/register_complete">
            <input type="text" name="username" placeholder="User" autocomplete="nickname">
            <input type="password" name="password" placeholder="Password" autocomplete="current-password">
            <div class="RCS">
                <a href="">Recuperar Senha</a>
            </div>   
            <div class="button">
                <button>Logar</button>
            </div>  
            
        </form>
    </div>   
</section>
