<section>
    <div>

        <div>
            <a class="Login" href="/Login">Login</a>
            <a class="Cadastrar" href="/Cadastro">Cadastrar</a>
        </div>

        <form action="" method="post">

            <input name="Email" type="email" placeholder="E-Mail" autocomplete="email">
            <input class="Pass" name="Pass" type="password" placeholder="Senha" autocomplete="current-password"> 
            <a href="">Recuperar senha</a>
            <button>Entrar</button>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/Login.css">